# {{ ansible_managed }}
[Unit]
Description=Restrict Velocity port to TCPShield
After=network-online.target docker.service
Wants=network-online.target
Before=velocity.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ firewall_script }}

[Install]
WantedBy=multi-user.target
