[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = .ansible/collections
interpreter_python = /usr/bin/python3
callback_result_format = yaml
retry_files_enabled = False
nocows = True

[diff]
always = True
context = 3
